.video--control {
    height: 40px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    user-select: none;
    .left--container {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding-left: 20px;
    }
    .right--container {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding-right: 20px;
    }

    .left--container,
    .right--container {
        display: flex;
        align-items: center;
        .icon--container {
            display: inline-block;
            margin-right: 10px;
            .icon__svg--wrapper {
                position: relative;
                width: 30px;
                height: 30px;
                opacity: .8;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
                .icon--svg {
                    fill: #fff;
                }
            }
        }
        .volume--button {
            display: flex;
            align-items: center;
            .volume__bar--outer {
                height: 4px;
                width: 100px;
                background-color: #eee;
                .volume__bar--inner {
                    width: 0%;
                    height: 100%;
                    position: relative;
                    background-color: pink;
                    .volume--thumb {
                        position: absolute;
                        cursor: pointer;
                        width: 10px;
                        height: 10px;
                        left: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background-color: pink;
                        border-radius: 50%;
                    }
                }
            }
        }
        .time__text--wrapper {
            font-size: 13px;
            color: #eee;
            text-shadow: 0 0 2px rgba(0,0,0,.5);
        }
    }

    .progress__bar--container {
        position: absolute;
        left: 10px;
        right: 10px;
        top: -10px;
        height: 14px;
        padding: 5px 10px;
        box-sizing: border-box;
        cursor: pointer;
        .progress__bar--outter {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            background-color: #eee;
            .progress__bar--inner {
                height: 100%;
                width: 0;
                background-color: yellowgreen;
            }
            .progress--thumb {
                position: absolute;
                cursor: pointer;
                width: 10px;
                height: 10px;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: yellowgreen;
                border-radius: 50%;
            }
        }
        
    }
}